@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@600&display=swap');

*{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:  rgb(255, 255, 133);
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 212, 52);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0.5rem;
}
.navitems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
}
.navlinks{
    padding: 0.7rem;
    text-decoration: none;
}
.navlinks:hover{
    background-color: rgb(255, 255, 133);
    border-radius: 0.5rem;
    box-shadow: 1px 2px 5px black;
}
ul {
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.7rem;
    padding: 0.7rem;
    background-color: rgb(255, 255, 133);
}
.info{
    padding: 3rem;
    color: rgb(63, 65, 50);
    font-size: 1.3rem;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-size: 1.2rem;
    background-color: blueviolet;
}
.message-container{
    width: 50%;
    background-color: blue;
}

.message-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.learning{
    padding: 30px;
    background-color: rgb(250, 250, 114);
}
.projects{
    padding: 30px;
}