@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@600&display=swap');
:root{
    --yellowLight:  rgb(105, 143, 105);
    --yellowDark: rgb(189, 201, 170);
    --brown:  rgb(30, 46, 38);
}
*{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:  var(--yellowLight);
    font-family: 'Montserrat', sans-serif;
    color: var(--brown);
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--yellowDark);
    box-shadow: 0px 3px 15px black;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0.5rem;
}
.navitems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
}
.navlinks{
    padding: 0.7rem;
    text-decoration: none;
}
.navlinks:hover{
    background-color: var(--yellowLight);
    border-radius: 0.5rem;
    box-shadow: 1px 2px 5px black;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.7rem;
    padding: 0.9rem;
    border-radius: 20px 0px 20px 0px;;
    background-color: var(--yellowLight);
}
.name{
    color: white;
}
.info{
    padding: 3rem 7rem 3rem 5rem;
    color: rgb(63, 65, 50);
    font-size: 1.3rem;
}

.learning{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learningSub{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    font-size: 1.4rem;
}
.subHead{
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}
.subInfo{
    padding: 2rem;
    color: rgb(63, 65, 50);
    font-size: 1.3rem;
}
.projects{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 1rem;
    color: var(--brown);
    font-size: 1.2rem;
    background: none;
    border: 2px solid var(--brown);
    background-color: var(--yellowLight);
    border-radius: 5px;
}
.btn:hover{
    
    border-radius: 0.5rem;
    box-shadow: 1px 2px 5px black;
    cursor: pointer;
}
.footer{
    background-color: var(--yellowLight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 1.1rem;
}
.socialLinks{
    width: 60%;
    font-size: 2rem;
    color: var(--yellowDark);
    text-shadow: 0px 1px 2px black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.socialLinks:hover{
    color: var(--brown);
}
.project{
    padding: 2rem;
    border-bottom: 1px solid var(--brown);
}
.project-head{
    font-size: 2rem;
}
.project-date{
    margin-top: 10px;
}
.project-info{
    padding: 10px 0px;
}
.playBtn{
    padding: 0.7rem;
    font-size: 1.1rem;
    background: none;
    color: var(--brown);
    border: 1px solid var(--brown);
    border-radius: 10px 0px 10px 0px;
    background-color: var(--yellowLight);
}
.codeBtn{
    background-color: none;
    padding: 0.7rem;
    font-size: 1.1rem;
    background: none;
    color: var(--brown);
    border: 1px solid var(--brown);
    border-radius: 0px 10px 0px 10px;
}
.playBtn:hover{
    box-shadow: 0px 2px 3px black;
    cursor: pointer;
}
.codeBtn:hover{
    box-shadow: 0px 2px 3px black;
    cursor: pointer;
}
.blog{
    margin-top: 0.8rem;
    padding: 2rem 4rem; 
}
.blogHead{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem;
    border-top: 1px solid var(--brown);
    border-bottom: 1px solid var(--brown);
}
.blogInfo{
    padding: 2rem 0rem;
    font-size: 1.1rem;
}
.blogImg{
    
    padding: 1rem;
    max-width: 750px;
    display: block;
    margin: 2rem auto;

}

@media only screen and (max-width: 500px){
    .container{
        width: 95%;
    }
    .navitems{
        font-size: 0.7rem;
    }
    .heading{
        font-size: 0.9rem;
        padding: 0.8rem;
        text-align: center;
    }
    .info{
        padding: 1.2rem;
        color: rgb(63, 65, 50);
        font-size: 0.9rem;
    }
    .subHead{
        font-size: 1.3rem;
    }
    .subInfo{
        font-size: 1rem;
        padding: 1rem;
    }
    .btn{
        font-size: 0.9rem;
        padding: 0.7rem;
    }
    .learningSub{
        padding: 0.8rem;
        grid-gap: 2rem;
        font-size: 1.1rem;
    }
    .project{
        padding: 0.4rem;
    }
    .project-head{
        font-size: 1.2rem;
    }
    .project-date{
        margin-top: 10px;
    }
    .project-info{
        padding: 10px 0px;
        font-size: 0.8rem;
    }
    .playBtn{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .codeBtn{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .blog{
        padding: 1rem;
    }
    .blogInfo{
        font-size: 0.8rem;
    }
    .blogImg{
        max-width: 250px;
    }
}